<ul>
    <% categories.each do |category| %>
        <li>
            <%=link_to_if category.posts.size >0, category.name, category_search_path(category.slug) %> (<%= category.posts.size %>) 
        </li>
    <% end %>  
</ul>